<TMPL_IF HTML5><!DOCTYPE html>
<html>
<TMPL_ELSE><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
</TMPL_IF>
<head>
<TMPL_IF DYNAMIC>
<TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
<TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF HTML5><meta charset="utf-8" /><TMPL_ELSE><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
<title><TMPL_VAR TITLE></title>
<TMPL_IF FAVICON>
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>themes/brian/style.css" type="text/css" />
<TMPL_IF LOCAL_CSS>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>themes/brian/<TMPL_VAR LOCAL_CSS>" type="text/css" />
<TMPL_ELSE>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>themes/brian/local.css" type="text/css" />
</TMPL_IF>
<TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
<TMPL_IF META><TMPL_VAR META></TMPL_IF>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="sidebar-left">

<TMPL_IF HTML5><article class="page"><TMPL_ELSE><div class="page"></TMPL_IF>

<TMPL_IF HTML5><section class="pageheader"><TMPL_ELSE><div class="pageheader"></TMPL_IF>
<TMPL_IF HTML5><header class="header"><TMPL_ELSE><div class="header"></TMPL_IF>
<h1 id="site-name">
<TMPL_IF BASEURL>
<a href="<TMPL_VAR BASEURL>">Brian May</a>
<TMPL_ELSE>
Brian May
</TMPL_IF>
</h1>
<div id='site-slogan'>
Where penguins eat Windows
</div>
<TMPL_IF SEARCHFORM>
<TMPL_VAR SEARCHFORM>
</TMPL_IF>
<TMPL_IF HTML5></header><TMPL_ELSE></div></TMPL_IF>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

<script type="text/javascript">
style = function(elem)
{
  var computedStyle;
  if (typeof document.defaultView.getComputedStyle != 'undefined')
    { return document.defaultView.getComputedStyle(elem, null); }
  else
    { return elem.currentStyle; }
}
function toggle(id,show) {
 var element=document.getElementById(id);
 var eleshow=document.getElementById(show);
 if (style(element).display=="none") {
  element.style.display="block";
  eleshow.style.display="none";
 } else {
  element.style.display="none";
  eleshow.style.display="inline";
 }
}
</script>

<div id="container" class="clear-block">

<div id="sidebar-left" class="column sidebar">
<div class="block">
<h2 class="title" onclick="toggle('navmenu','navshow');">Navigation <div id="navshow" class="show">(show)</div></h2>
<TMPL_IF HTML5><section class="content" id="navmenu"><TMPL_ELSE><div class="content" id="navmenu"></TMPL_IF>
<ul class="menu">
<li onclick='parent.location="<TMPL_VAR BASEURL>diary/";'><a href="<TMPL_VAR BASEURL>diary/">Diary</a></li>
<li onclick='parent.location="<TMPL_VAR BASEURL>Skills/";'><a href="<TMPL_VAR BASEURL>Skills/">Skills</a></li>
<li onclick='parent.location="<TMPL_VAR BASEURL>Hobbies/";'><a href="<TMPL_VAR BASEURL>Hobbies/">Hobbies</a></li>
<li onclick='parent.location="<TMPL_VAR BASEURL>Organisations/";'><a href="<TMPL_VAR BASEURL>Organisations/">Organisations</a></li>
<li onclick='parent.location="<TMPL_VAR BASEURL>People/";'><a href="<TMPL_VAR BASEURL>People/">People</a></li>
<li onclick='parent.location="<TMPL_VAR BASEURL>Trips/";'><a href="<TMPL_VAR BASEURL>Trips/">Trips</a></li>
<TMPL_IF RECENTCHANGESURL>
<li onclick='parent.location="<TMPL_VAR RECENTCHANGESURL>";'><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
</TMPL_IF>
</ul>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
</div>
<div class="block">
<h2 class="title" onclick="toggle('actmenu','actshow');">Actions <div id="actshow" class="show">(show)</div></h2>
<TMPL_IF HTML5><section class="content" id="actmenu"><TMPL_ELSE><div class="content" id="actmenu"></TMPL_IF>
<ul class="menu">
<!--
<TMPL_IF EDITURL>
<li onclick='parent.location="<TMPL_VAR EDITURL>";'><a href="<TMPL_VAR EDITURL>" rel="nofollow">Edit</a></li>
</TMPL_IF>
-->
<TMPL_IF HISTORYURL>
<li onclick='parent.location="<TMPL_VAR HISTORYURL>";'><a href="<TMPL_VAR HISTORYURL>">History</a></li>
</TMPL_IF>
<TMPL_IF GETSOURCEURL>
<li onclick='parent.location="<TMPL_VAR GETSOURCEURL>";'><a href="<TMPL_VAR GETSOURCEURL>">Source</a></li>
</TMPL_IF>
<TMPL_IF PREFSURL>
<li onclick='parent.location="<TMPL_VAR PREFSURL>";'><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
</TMPL_IF>
<TMPL_IF ACTIONS>
<TMPL_LOOP ACTIONS>
<li><TMPL_VAR ACTION></li>
</TMPL_LOOP>
</TMPL_IF>
<TMPL_IF COMMENTSLINK>
<li><TMPL_VAR COMMENTSLINK></li>
<TMPL_ELSE>
<TMPL_IF DISCUSSIONLINK>
<li><TMPL_VAR DISCUSSIONLINK></li>
</TMPL_IF>
</TMPL_IF>
</ul>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
</div> <!-- /block -->

<TMPL_IF SIDEBAR>
<div class="block">
<h2 class="title">Sidebar</h2>
<TMPL_IF HTML5><section class="content"><TMPL_ELSE><div class="content"></TMPL_IF>
<TMPL_VAR SIDEBAR>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
</div> <!-- /block -->
</TMPL_IF>
</div> <!-- /sidebar-left -->

<div id="main" class="column"><div id="squeeze">
<div id="main-top"></div>
<TMPL_LOOP PARENTLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>/ 
</TMPL_LOOP>
<h1 class="title">
<TMPL_VAR TITLE>
</h1>
<TMPL_IF HTML5><section class="content"><TMPL_ELSE><div class="content"></TMPL_IF>
<TMPL_VAR CONTENT>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
<div id="main-bottom"></div>

<TMPL_UNLESS DYNAMIC>
<TMPL_IF COMMENTS>
<TMPL_IF HTML5><section id="comments"><TMPL_ELSE><div id="comments"></TMPL_IF>
<TMPL_VAR COMMENTS>
<TMPL_IF ADDCOMMENTURL>
<div class="addcomment">
<a href="<TMPL_VAR ADDCOMMENTURL>">Add a comment</a>
</div>
<TMPL_ELSE>
<div class="addcomment">Comments on this page are closed.</div>
</TMPL_IF>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>
</TMPL_UNLESS>


<TMPL_IF TAGS>
<TMPL_IF HTML5><nav class="tags"><TMPL_ELSE><div class="tags"></TMPL_IF>
Tags:
<TMPL_LOOP TAGS>
<TMPL_VAR LINK>
</TMPL_LOOP>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

<TMPL_IF BACKLINKS>
<TMPL_IF HTML5><nav id="backlinks"><TMPL_ELSE><div id="backlinks"></TMPL_IF>
Links:
<TMPL_LOOP BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
<TMPL_IF MORE_BACKLINKS>
<span class="popup">...
<span class="balloon">
<TMPL_LOOP MORE_BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
</span>
</span>
</TMPL_IF>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

</div></div> <!-- /squeeze /main -->

</div> <!-- /container -->

<TMPL_IF HTML5><footer id="footer" class="pagefooter"><TMPL_ELSE><div id="footer" class="pagefooter"></TMPL_IF>
<TMPL_UNLESS DYNAMIC>
<TMPL_IF HTML5><nav id="pageinfo"><TMPL_ELSE><div id="pageinfo"></TMPL_IF>

<TMPL_IF COPYRIGHT>
<div class="pagecopyright">
<a name="pagecopyright"></a>
<TMPL_VAR COPYRIGHT>
</div>
</TMPL_IF>


<div class="pagelicense">
<a name="pagelicense"></a>
(C)opyright <a href="mailto:brian@microcomaustralia.com.au">Brian May</a>
</div>


<div class="pagedate">
Last edited <TMPL_VAR MTIME>
<!-- Created <TMPL_VAR CTIME> -->
</div>

<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
</TMPL_UNLESS>
<!-- from <TMPL_VAR WIKINAME> -->
<TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>

<TMPL_IF HTML5></article><TMPL_ELSE></div></TMPL_IF>

</body>
</html>
