<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE></title>
<TMPL_IF FAVICON>
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>themes/brian/style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>themes/brian/local.css" type="text/css" />
<TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF META><TMPL_VAR META></TMPL_IF>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="front not-logged-in sidebar-left">
<div id="page">
<div id="header">
<div id="logo-title">

<TMPL_IF SEARCHFORM>
<TMPL_VAR SEARCHFORM>
</TMPL_IF>

<div id="name-and-slogan">
<h1 id="site-name">
<a href="<TMPL_VAR BASEURL>">Brian May</a>
</h1>

<div id='site-slogan'>
Where penguins eat Windows
</div> <!-- /site-slogan -->
</div> <!-- /name-and-slogan -->

</div> <!-- /logo-title -->


<div id="navigation" class="menu">
</div> <!-- /navigation -->

<div id="header-region">
</div> <!-- /header-region -->
</div> <!-- /header -->

<div id="container" class="clear-block">

<div id="sidebar-left" class="column sidebar">
<div class="block">
<div class="blockinner">
<h2 class="title">Navigation</h2>
<div class="content">
<ul class="menu">
<li class="leaf"><a href="<TMPL_VAR BASEURL>diary/">Diary</a></li>
<li class="leaf"><a href="<TMPL_VAR BASEURL>Skills/">Skills</a></li>
<li class="leaf"><a href="<TMPL_VAR BASEURL>Hobbies/">Hobbies</a></li>
<li class="leaf"><a href="<TMPL_VAR BASEURL>Organisations/">Organisations</a></li>
<li class="leaf"><a href="<TMPL_VAR BASEURL>People/">People</a></li>
<li class="leaf"><a href="<TMPL_VAR BASEURL>Trips/">Trips</a></li>
<!-- <TMPL_IF EDITURL>
<li class="leaf"><a href="<TMPL_VAR EDITURL>">Edit</a></li>
</TMPL_IF> -->
<TMPL_IF RECENTCHANGESURL>
<li class="leaf"><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
</TMPL_IF>
<TMPL_IF HISTORYURL>
<li class="leaf"><a href="<TMPL_VAR HISTORYURL>">History</a></li>
</TMPL_IF>
<TMPL_IF PREFSURL>
<li class="leaf"><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
</TMPL_IF>
<TMPL_IF DISCUSSIONLINK>
<li class="leaf"><TMPL_VAR DISCUSSIONLINK><br /></li>
</TMPL_IF>
</ul>
</div> <!-- /content -->
</div> <!-- /blockinner -->
</div> <!-- /block -->

<TMPL_IF SIDEBAR>
<div class="block">
<div class="blockinner">
<h2 class="title">Sidebar</h2>
<div class="content">
<TMPL_VAR SIDEBAR>
</div> <!-- /content -->
</div> <!-- /blockinner -->
</div> <!-- /block -->
</TMPL_IF>
</div> <!-- /sidebar-left -->

<div id="main" class="column"><div id="squeeze">
<div id="main-top"></div>
<TMPL_LOOP PARENTLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>/ 
</TMPL_LOOP>
<h1 class="title">
<TMPL_VAR TITLE>
</h1>
<div class="node">
<div class="content"><TMPL_VAR CONTENT></div>
</div>
<div id="main-bottom"></div>

<TMPL_UNLESS DYNAMIC>
<TMPL_IF COMMENTS>
<div id="comments">
<TMPL_VAR COMMENTS>
<TMPL_IF ADDCOMMENTURL>
<div class="addcomment">
<a href="<TMPL_VAR ADDCOMMENTURL>">Add a comment</a>
</div>
<TMPL_ELSE>
<div class="addcomment">Comments on this page are closed.</div>
</TMPL_IF>
</div>
</TMPL_IF>
</TMPL_UNLESS>

<TMPL_IF TAGS>
<div class="tags">
Tags:
<TMPL_LOOP TAGS>
<TMPL_VAR LINK>
</TMPL_LOOP>
</div> <!-- /tags -->
</TMPL_IF>

<TMPL_IF BACKLINKS>
<div id="backlinks">
Links:
<TMPL_LOOP BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
<TMPL_IF MORE_BACKLINKS>
<span class="popup">...
<span class="balloon">
<TMPL_LOOP MORE_BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
</span>
</span>
</TMPL_IF>
</div> <!-- /backlinks -->
</TMPL_IF>

</div></div> <!-- /squeeze /main -->

<div id="sidebar-right" class="column sidebar">
</div> <!-- /sidebar-right -->

</div> <!-- /container -->

<div id="footer-wrapper">
<div id="footer">

<TMPL_IF COPYRIGHT>
<div class="pagecopyright">
<a name="pagecopyright"></a>
<TMPL_VAR COPYRIGHT>
</div> <!-- /pagecopyright -->
</TMPL_IF>

<div class="pagelicense">
<a name="pagelicense"></a>
(C)opyright <a href="mailto:brian@microcomaustralia.com.au">Brian May</a>
</div> <!-- /pagelicense -->

<div class="pagedate">
Last edited <TMPL_VAR MTIME>
<!-- Created <TMPL_VAR CTIME> -->
</div> <!-- /pagedate -->

<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
<!-- from <TMPL_VAR WIKINAME> -->

</div> <!-- /footer -->
</div> <!-- /footer-wrapper -->

</div> <!-- /page -->

</body>
</html>
